.cardWrap {
  border: 2px solid black;
  width: 300px;
  position: relative;
  border-radius: 4px;
  /* margin-bottom: 15px; */
}

.nameParagraph {
    width: 180px;
    margin-left: 5px;
}

.phoneParagraph {
    width: 180px;
    margin-left: 5px;
}

.button {
    position: absolute;
    top: 32px;
    left: 200px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
}

.icon {
    margin-right: 10px;
}